name: Publish

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - name: Install Flutter
      uses: subosito/flutter-action@v1
      with:
        flutter-version: '2.0.3'
    - name: Install dependencies
      run: flutter pub get
    - name: Run dart analyze
      run: dart analyze
    - name: build iOS example project
      working-directory: ./example
      run: flutter build ios --release --no-codesign
    - name: build android example project
      working-directory: ./example
      run: flutter build apk
    - name: publish --dry-run
      run: flutter pub publish --dry-run
